* {
  margin: 0;
  padding: 0; }

html, body {
  overflow: hidden; }

body {
  background-color: #292B37;
  color: #fff;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#screen {
  -webkit-mask-image: url(logo_kroger.png);
  -webkit-mask-position-x: center;
  -wwebkit-mask-position-y: center;
  -webkit-mask-repeat: no-repeat;
  position: absolute;
}

.hidden {
    visibility:hidden
}

.icon {
  width: 11px;
  height: 13px;
  float: left;
  overflow: hidden;
  text-align: center;
}
